<div class="sponsor-collaborations-section">
    <div class="container">
      <div class="row">
        <!-- Sponsors Section -->
        <div class="col-md-6 sponsors-section">
          <h2>Sponsors</h2>
          <div class="logos">
            <img src="../../assets/images/Sony_logo.png" alt="Sony Logo">
            <img src="../../assets/images/svgg.png" alt="Aha Logo">
            <img src="../../assets/images/Sony_logo.png" alt="Sony Logo">
            <img src="../../assets/images/svgg.png" alt="Aha Logo">
            <img src="../../assets/images/Sony_logo.png" alt="Sony Logo">
            <img src="../../assets/images/svgg.png" alt="Aha Logo">
          </div>
        </div>
  
        <!-- Divider -->
        <!--  -->
  
        <!-- Collaborations Section -->
        <div class="col-md-6 collaborations-section">
          <h2>Collaborations</h2>
      
          <div class="logos">
            <img src="../../assets/images/Sony_logo.png" alt="Sony Logo">
            <img src="../../assets/images/svgg.png" alt="Aha Logo">
            <img src="../../assets/images/Sony_logo.png" alt="Sony Logo">
            <img src="../../assets/images/svgg.png" alt="Aha Logo">
            <img src="../../assets/images/Sony_logo.png" alt="Sony Logo">
            <img src="../../assets/images/svgg.png" alt="Aha Logo">
          </div>  
 
        </div>
      </div> 
      <!-- Volunteer Registration Section -->
       <div class="content " style="position: relative;">
        <div>
        <img src="../../assets/images/Group 20287.png" alt="Logo" class="half-logo" />

      </div>
      <div class="volunteer-section row">

        <div class="volunteer-content col-12">
          <div class="register">
          <h3 class="volunterr">Volunteer Registration</h3>
          <button class="register-btn">Register</button>
        </div>
          <p class="p-text">Become a vital part of the Comic Street experience by volunteering. Gain hands on experience, meet like minded individuals, and contribute to an event celebrating creativity and community.</p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
     <div class="col-md-6">
     <p class="headnew">Got questions? We got answers.</p>
     </div>
     <div class="col-md-6">
<p>What is Comic Street?</p>
     </div>

      </div>

    </div>
    </div>
  </div>
  