<div class="branding-container">
    <div class="branding-header">
        <h1 class="branding-title brand">ELEVATE YOUR</h1>
        <h1 class="branding-title brand">BRAND</h1>
        <h3 class="branding-subtitle">AT</h3>
        <img src="../../assets/images/Group 20308.png" alt="Comic Street Logo" class="comic-street-logo">
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-4 col-xs-1 branding-description">
            <img src="../../assets/images/Group 20229.png" alt="Comic Street Logo" class="comic-street-icon">
            <p class="brand-value">Partner with us to showcase your brand at the forefront of the comic and pop culture industry.</p>
        </div>
        <div class="col-md-6 col-xs-4 col-xs-1  branding-description">
            <img src="../../assets/images/Group 20231.png" alt="Comic Street Logo" class="comic-street-icon">
            <p class="brandnew">Engage with a passionate audience, connect with potential customers, and enhance your visibility at this premier event.</p>
        </div>
    </div>   

    <div class="row">   
        <div class="col-md-12 col-md-6 col-sm-4 col-xs-1 btnprop">
            <button class="cta-button">Explore Sponsorship Opportunities</button>
        </div>
    </div>
</div>
