<mat-toolbar color="primary" class="header-toolbar">
    <div class="header-left">
      <img src="../../assets/images/Group 20308@2x.png" alt="Logo" class="half-logo" />

    </div>
    <span class="spacer"></span>
    <div class="header-right col-12 col-md-6">
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/merchandise">Merchandise</a>
      <a mat-button routerLink="/membership">Membership</a>
      <a mat-button routerLink="/volunteer">Volunteer Registration</a>
      <a mat-button routerLink="/contact">Contact Us</a>
      <!-- <button mat-button>ENG</button> -->
    </div>
  </mat-toolbar>

  <div class="sections-container">
    <app-home id="home"></app-home>
     <app-about id="about"></app-about>
     <app-sponsership id="sponsership"></app-sponsership>
     <app-collaberation id="Collaborations"> </app-collaberation>
     <app-footer id="footer"></app-footer>
    <!-- <app-jury-panel id="jury"></app-jury-panel>
    <app-sponsors id="sponsors"></app-sponsors>
    <app-faq id="faq"></app-faq>
    <app-footer></app-footer>  -->
  </div>

  
