<footer class="footer">

  <div class="row">
    <div class="footer-logo col-md-5 col-12 col-xs-2 col-sm-4">
      <img src="../../assets/images/Group 20308.png" alt="Comic Street Logo" class="logo">
    </div>

    <div class="footer-content col-md-7 col-12 col-xs-2 col-sm-4">
      <p class="stay-connected">Stay Connected!<br/>
        Follow us on social media <br/>for the latest updates, <br/>announcements, and community highlights</p>
      <div class="social-icons">
        <a href="#" target="_blank"><img src="../../assets/images/Group 20253.png" alt="Facebook" class="social-icon"></a>
        <a href="#" target="_blank"><img src="../../assets/images/Group 20254.png" alt="LinkedIn" class="social-icon"></a>
        <a href="#" target="_blank"><img src="../../assets/images/Group 20256.png" alt="Twitter" class="social-icon"></a>
        <a href="#" target="_blank"><img src="../../assets/images/Group 20255.png" alt="YouTube" class="social-icon"></a>
      </div>
    </div>
    <div class="footer-bottom col-12">
      <p>&copy; 2024 Comic Street | All Rights Reserved</p>
    </div>
  </div>




  </footer>
  
