
<div class="row comic-header">
<div class="col-md-6 col-sm-4 col-xs-2">
    <h1 class="heading-about">About Comic Street</h1>
    <p class="context-about">Comic Street is your ultimate destination for all things comics! Dive into a myriad of initiatives designed to engage and inspire the comic community. Learn more about each initiative:<span class="highlight">comic community</span>.</p>
    <p class="context">Learn more about each initiative:</p>

</div>
<div class="col-md-6 col-md-6 col-sm-4 col-xs-2">
  <div class="image-section">
    <img src="../../assets/images/Group 20215@2x.png" alt="Community of People" class="community-image">
  </div>
</div>
</div>

<div class="row">
    <div  class="col-12 ">
    <div class="initiatives">
        <div class="grid">
            <div class="grid-item">
                <img src="../../assets/images/Group 20214.png" alt="Showcase Icon">
                <p>Showcase</p>
                <div class="hover-text">   <p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
            <div class="grid-item">
                <img src="../../assets/images/noun-network-7216941.png" alt="Network Icon">
                <p>Network</p>
                <div class="hover-text">   <p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
            <div class="grid-item">
                <img src="../../assets/images/Group 20191.png" alt="Membership Icon">
                <p>Membership</p>
                <div class="hover-text">   <p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
            <div class="grid-item">
                <img src="../../assets/images/Group 20194.png" alt="Awards Icon">
                <p>Awards</p>
                <div class="hover-text">   <p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
            <div class="grid-item">
                <img src="../../assets/images/Group 20193.png" alt="Conferences Icon">
                <p>Conferences</p>
                <div class="hover-text">   <p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
            <div class="grid-item">
                <img src="../../assets/images/Group 20200.png" alt="Showcase Icon">
                <p>Community</p>
                <div class="hover-text">   <p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
            <div class="grid-item">
                <img src="../../assets/images/Group 20193.png" alt="Showcase Icon">
                <p>Exhibit Hall </p>
                <div class="hover-text">  <p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
            <div class="grid-item">
                <img src="../../assets/images/noun-network-7216941.png" alt="Showcase Icon">
                <p> Merchandise</p>
                <div class="hover-text"><p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
            <div class="grid-item">
                <img src="../../assets/images/Group 20209.png" alt="Showcase Icon">
                <p>Colsplay & Competitions</p>
                <div class="hover-text"><p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
             <div class="grid-item">
                <img src="../../assets/images/Group 20212.png" alt="Showcase Icon">
                <p>Workshops& Seminar</p>
                <div class="hover-text"> <p>Coming in 2025 - Get ready to don your favourite character and compete for amazing prizes in our exciting cosplay events!</p></div>
            </div>
            <!-- Additional items as needed -->
        </div>
    </div>
</div>
</div>
