/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden;}
.animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
  }
  
  /* When the element is visible */
  .animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
