<div class="home-container">
    <div class="content">
        <img src="../../assets/images/Group 20175.png" alt="Logo" class="top-highlight" />
        <div class="tagline">  
            <h1 style="
            text-align: left;
            font: normal normal 900 40px/72px Londrina Solid;
            letter-spacing: 1.92px;
            color: #2F2800;
            opacity: 1;">Where Imagination Comes Alive!</h1>
            <p>Join us in celebrating the vibrant world of comics and pop culture at IndiaJoy! Explore, connect, and unleash your creativity in a space dedicated to comic enthusiasts, creators, and fans alike.</p>
            <button class="btn">Show your Comic</button>
        </div>
    </div>
</div>  